.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.955);
}

.titleCards {
    font-size: 40px;
    color: #ffffff;
}