.textWithImage {
    display: flex;
    max-width: 1300px;
    width: 100%;
    margin: 40px;
    justify-content: space-between;
    transform: translateY(-100px);
    animation: fadeInDown 1.5s ease-out forwards;
}

.containerText h1 {
    font-size: 70px;
    line-height: 79px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 20px;
}

.descriptionWithIcon {
    display: flex;
    align-items: start;
    gap: 5px;
    color: #ffffff;
    animation: slideInFromLeft 0.4s ease-out forwards;
}

.containerText {
    width: 50%;
}

.containerImage img {
    object-fit: cover;
    border: 5px solid transparent;
    border-radius: 30px;
    width: 100%;
    animation: slideInFromLeft 0.8s ease-out forwards;
}

.button {
    background-color: #444;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 16px;
    animation: slideInFromLeft 0.6s ease-out forwards;
}

@media (max-width: 900px) {
    .containerText {
        width: 100%;
        text-align: center;
        padding: 0 20px;
    }
    .containerText h1 {
        font-size: 40px;
        line-height: unset;
    }
    .containerImage {
        display: none;
    }
    .textWithImage {
        margin: 20px;
    }
    .descriptions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .descriptionWithIcon {
        justify-content: center;
        align-items: center;
    }
    .descriptionWithIcon p {
        text-align: start;
    }
    .button {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}